@model IEnumerable<prjCurdEF.Models.Category>
@using prjCurdEF.Models;
@{
    ViewBag.Title = "GetCategoryDetails";
}

<h2>GetCategoryDetails</h2>


@foreach (var c in Model)
{

    <ul style="color:blueviolet">
        <li>@c.CategoryID</li>
        <li>@c.CategoryName</li>
        <li>@c.Description</li>
        
    </ul>
}
