@model IEnumerable<Day1_2_3_Revision.Models.SalesByCategory_Result>
@{
    ViewBag.Title = "Sp";
}

<p>hi</p>
<input type="text" />
<h2>Sp</h2>

@foreach(var i in Model)
{
    @i.ProductName
    @i.TotalPurchase
}